# Core dependencies
# Install atai-core following instructions at https://github.com/archetypeai/atai_core
gcsfs
numpy

# Google Sheets API dependencies
google-api-python-client
google-auth-httplib2
google-auth-oauthlib